* {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.homeContainer {
  display: flex;
}

.homeHeader {
  font-size: 50px;
}

.homeDescription {
  margin: 30px;
}

.homeLoginButton {
  padding: 10px 20px;
  background-color: gray;
}